-provide :html_title, "도움!"

%h1 StaticPages#help

%h2#user_image 사용자 이미지
:markdown
	이 사이트에 모든 그림을 저장할 수 있다면 편하겠지만, 애석하게도 그렇지 못합니다. 그래서 여러 외부 서비스를 이용하고 있습니다.
	##Gravatar
	[Gravatar](http://ko.gravatar.com/)는 Wordpress나 Github 등 해외의 여러 사이트에서 쓰이는 서비스로 이메일에 기반하여 프로필 사진을 보여줍니다.