-provide :title, "로그인"

.inner.wrapper
	%header.ui.attached.message.mobile_text_center
		%h1 로그인

	=form_for :session, url: sessions_path, html:{class: "ui form fluid attached segment"} do |f|
		=field_for f, "mail", "이메일", :email, "email", "example@example"
		=described_field_for f, "lock", "열쇠글", :password, "password", "••••••", "6자리 이상입니다."
		.mobile_text_center
			=f.submit "들어가기", class: "ui blue submit button"

	%aside.ui.bottom.attached.message.mobile_text_center
		=link_to "새로 가입하고 싶나요?", signup_path
		