<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
	<h1>별바다에 가입하셨습니다.</h1>
	<p><strong><%= @user.name %></strong></p>
	<p>가입한 적이 없다면 관리자에게 메일이나 트윗을 보내주세요.</p>
	<dl>
		<dt>E-Mail</dt>
		<dd>compiztab@daum.net</dd>
		<dt>Twitter</dt>
		<dd>@byeolbada</dd>
	</dl>
	<p>이 메일 주소는 보내기 전용입니다. 의견이나 회신은 본 사이트나 위의 주소로 보내주세요.</p>
	<p>사이트 바로가기: <%= @url %></p>
</body>
</html>