-provide :title, @user.name

.ui.page.grid
	.column
		%h1.ui.top.attached.segment.colored.blue.inverted
			= gravatar_for @user, "ui avatar circular image"
			= @user.name

		.ui.attached.segment
			.grid-r
				.grid-1-5
					뚜ㄸ
				.grid-4-5
					뚜ㄸ
		.ui.bottom.attached.segment
			%p orb!