#book_search
	%input{type: "text", placeholder: "책 찾기..."}
	%button.ui.button.green.tiny 찾기
%main.col-sm-8
	.ui.segment
		최근에 서평이 쓰인 책:

		

%aside.col-sm-2
	This is side.

-# %table
-#   %tr
-#     %th Title
-#     %th
-#     %th
-#     %th

-#   - @books.each do |book|
-#     %tr
-#       %td= book.title
-#       %td= link_to 'Show', book
-#       %td= link_to 'Edit', edit_book_path(book)
-#       %td= link_to 'Destroy', book, :method => :delete, :data => { :confirm => 'Are you sure?' }

-# %br

-# = link_to 'New Book', new_book_path
