

// colors
$midnight-blue: #2c3e50;


// layouts
$body-bg: $midnight-blue;
$text-color: #FaFAfa;
$dark-text-color: #333;
$link-color: rgba(52,152,219,.725);
$link-hover-color: rgba(52,152,219,1);

// layouts'
$root-footer-height: 2rem;