@charset "UTF-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "_normalize";
@import "_settings";

body {
	background-image: url("/assets/backgroundtexture.png");
	background-color:  #f9f9f9;
	overflow-x: hidden;
	font-family: $font-body;
	height: 3000px;
}

a { text-decoration: none; }
a:hover { border-bottom: 1px black; }

.wrapper {
	min-width: 300px;
	margin: auto;
	margin-bottom: 1rem;
	height: auto;
}

.wrapper.wide { margin-left: 3%; margin-right: 3%; }
.wrapper.small { margin-left: 1%; margin-right: 1%; }
.wrapper.inner { margin-left: 4%; margin-right: 4%; }

// 
// Layouts'
// 
.for.desktop { display: none; }
#root_top { margin-top: 4rem; height: 43px; }
#root_divider { margin-top: .8rem; }
#nav_for_mobile {
	top: 0;
	opacity: .9;
	background-color: rgba(255, 255, 255, .5);
	transition: all .2s;
}
#nav_for_mobile.inverted { background-color: #333; }
#root_logo {
	width: 150px;
	margin: auto;
	margin-bottom: 5%;
	text-decoration: none;
	img {
		float: left;
		padding-right: 10px;
		width: 27px;
	}
	h1 {
		margin: 0; padding: 0;
		float: left;
		font-weight: normal;
		font-size: 215%;
		font-family: $font-logo;
		text-shadow: 0 1px 1px white;
		a { text-decoration: none; color: inherit; }
	}
} // end of #logo
#root_footer {
	background-color: #2d2d2d;
	box-shadow: 1px 1px 1px #000;
	color: white;
	text-shadow: 0 1px 0px black;
	padding: 1rem;
}


// For Large Size
@media only screen and (min-width: 1024px) {
	.wrapper.wide { margin-left: 10%; margin-right: 10%; }
	.wrapper.small { margin-left: 3%; margin-right: 3%; }
	.wrapper.inner { margin-left: 13%; margin-right: 13%; }
}

@media only screen and (min-width: 721px) and (max-width: 1023px) {
	.wrapper.wide { margin-left: 5%; margin-right: 5%; }
	.wrapper.small { margin-left: 2%; margin-right: 2%; }
	.wrapper.inner { margin-left: 7%; margin-right: 7%; }
}

// For Desktop
@media only screen and (min-width: 721px) {
	.for.mobile { display: none; }
	.for.desktop { display: block; }
	.wrapper { margin-bottom: 2rem; }

	#root_top { margin-top: 0; }
	#root_logo { width: auto; }

	#nav_for_desktop {
		margin: 0;
		float: right;
		width: 400px;
		height: 43px;
	}
}

// Developements
#debug {
	word-wrap: break-word;
}