// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#book_search {
	width: 100%;
	text-align: center;
	padding: 1rem;
	input[type=text] {
		margin: 0;
		color: #FAFAFA;
		padding: .3rem;
		background: inherit;
		border-left: none;
		border-right: none;
		border-top: none;
		border-bottom: 2px solid rgba(0, 0, 0, .15);
	}
	input[type=text]:focus {
		border-color: rgba(255, 255, 255, .35);
	}
}