// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#review_list {
	list-style: none;
	margin: 0;
	padding: 1rem 0;


	.review_item:after { content: ""; clear: both; }
	.review_item {
		display: block;
		width: 100%;
		padding-top: .5rem;
		height: 10rem;
	}

	.review_image {
		border-radius: .875rem;
		// height: 100%;
		width: 30%;
		float: left;
		margin-right: 1rem;
	}

	.review_body {
		margin-left: 30%;
	}

	.review_content {
		word-wrap: break-word;
		overflow: hidden;
		height: 3.5rem;
		margin-bottom: .3rem;
	}

	.review_head, .review_head a,
	.review_foot, .review_foot a {
		color: rgba(0, 0, 0, .5);
		font-size: 90%;
	}
	.when:before {
		content: "/"
	}
	header {
		h2 { margin-top: .4em; margin-bottom: .5rem; }
		h2 a { color: black; }
	}


	.ui.vertical.segment { padding: 1rem 0 !important; }
}

// on Desktop
@media (min-width: 768px) {
	.posting_button:after { content: " 글쓰기"; }
	.review_item {
		border-top: .2em solid RGBA(110, 207, 245, 0);
		transition: border-top-color, .2s;
	}
	.review_item:hover {
		border-top-color: RGBA(110, 207, 245, 1)
	}
}