.wide.wrapper

  %nav.ui.secondary.menu
    %h1.header.item 서평
    .right.menu
      .item
        .ui.icon.input
          %input{type: "text", placeholder: "검색..."}
          %i.search.link.icon{"aria-hidden" => "true"}
      .item
        =active_iconic_link_to "", "edit", new_review_path, class: "posting_button ui blue icon button"


  %ol#review_list
    -@reviews.each do |review|
      %li.ui.segment.review_item
        .review_image{style: "background-image: url(http://bimage.interpark.com/goods_image/9/1/0/2/213839102s.jpg);"}
        %article.review_body
          %header
            %aside.review_head
              =link_to '책 이름', '#', class: "book name"
            %h2= link_to review.title, review
          %section.review_content=review.content
          %footer.review_foot
            =link_to '리뷰어 이름', '#', class: "reviewer name" 
            %span.when
              =time_ago_in_words(review.created_at)


  -# %table
  -#   %tr
  -#     %th Title
  -#     %th Content
  -#     %th User
  -#     %th
  -#     %th
  -#     %th

  -#   - @reviews.each do |review|
  -#     %tr
  -#       %td= review.title
  -#       %td= review.content
  -#       %td= review.user_id
  -#       %td= link_to 'Show', review
  -#       %td= link_to 'Edit', edit_review_path(review)
  -#       %td= link_to 'Destroy', review, :method => :delete, :data => { :confirm => 'Are you sure?' }
