<% flash.each do |name, msg| %>
<aside class="ui page grid close_for_message">
<div class="column">
<%= content_tag :div, nil, class: "ui message #{name}" do %>
	<%= content_tag :header, msg %>
	<i class="link close icon"></i>
<% end %>
</div>
</aside>
<% end %>