<footer id="root_footer">
	<div class="container">
		<p>Developed by <a class="developer" title="Compiztab" href="http://compiztab.github.io/">Compiztab</a>: </p>
		<nav>
			<%= active_link_to '이 사이트에 대해', about_path %>
			 | 
			<%= active_link_to '도움말', help_path %>
			 | 
			<%= active_link_to '관리자', help_path %>
		</nav>
	</div>
</footer>