<nav class="ui fixed transparent inverted menu" id="rootMenu">
<div class="container-fluid">

  <a class="launch item">
    <i class="layout list icon"></i>
    메뉴
  </a>
  <div class="item"><%= short_title(yield(:short_title)) %></div>

  <div class="right menu">
    <a class="item"><i class="user icon"></i></a>
  </div>

</div>
</nav>